/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-text {
  flex: 1;
  text-align: left;
  z-index: 3;
  padding: 0 20px;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.hero-text p {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 3;
}

.hero .hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  position: relative;
  width: auto;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
  }

  .hero-text {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .hero-image {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero-text h2 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 18px;
  }
}